.header-call-menu {
    background-color: var(--color-white);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 14px 15px;
    position: absolute;
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    will-change: transform, opacity;

    @media screen and (min-width: $bp-mobile) {
        width: 172px;
        padding: 16px 13px;
    }

    @media screen and (min-width: $bp-tablet) {
        width: 200px;
        padding: 18px 15px;
    }

    @media screen and (min-width: $bp-desktop) {
        width: 230px;
    }

    &.about-page {
        background-color: var(--color-biege);
    }

    &.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    &__contacts {
        margin-bottom: 15px;

        @media screen and (min-width: $bp-mobile) {
            margin-bottom: 18px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 25px
        }
    }

    &__contacts a {
        text-decoration: none;
        font-size: 12px;
        color: var(--color-black);
        font-family: "Anglecia Pro Display", sans-serif;
        font-weight: 400;
        line-height: 100%;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        @media screen and (min-width: $bp-mobile) {
            font-size: 14px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            font-size: 20px;
        }

        &.about-page:hover {
            color: var(--color-white);
        }

        &:hover {
            color: var(--color-biege);
        }
    }

    &__contacts li:first-child {
        margin-bottom: 15px;

        @media screen and (min-width: $bp-mobile) {
            margin-bottom: 18px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 20px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 25px
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social li {
        height: 26px;

        @media screen and (min-width: $bp-mobile) {
            height: 28px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            height: 30px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            height: 35px;
        }
    }

    &__icons {
        width: 26px;
        height: 26px;
        color: var(--color-black);
        fill: transparent;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        @media screen and (min-width: $bp-mobile) {
            width: 28px;
            height: 28px;
        }

        @media screen and (min-width: $bp-tablet) {
            width: 30px;
            height: 30px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 35px;
            height: 35px;
        }

        &.about-page:hover {
            color: var(--color-white);
        }

        &:hover {
            color: var(--color-biege);
        }
    }
}

