@font-face {
    font-display: swap;
    font-family: "Monsieur La Doulaise";
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/monsieur-la-doulaise-v20-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Anglecia Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Anglecia-Pro-Display.otf") format("opentype");
}