.about-section {
    padding: 80px 0px 40px;

    @media screen and (min-width: $bp-mobile) {
        padding: 100px 0px 50px;
    }

    @media screen and (min-width: $bp-tablet) {
        padding: 180px 0px 60px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 200px 0px 80px;
    }

    &__title {
        font-size: 40px;
        text-align: end;
        margin-right: 20px;
        margin-bottom: 20px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1;

        @media screen and (min-width: $bp-mobile) {
            font-size: 56px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }

    &__title-desk {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
            font-size: 80px;
            margin: 0 auto 70px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 100px;
            margin: 0 auto 105px;
        }
    }

    &__first-container {
        display: flex;
        position: relative;
        flex-basis: 1;
        margin-bottom: 20px;
        gap: 8px;

        @media screen and (min-width: $bp-mobile) {
            margin: 0 auto 30px;
            max-width: 600px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            margin: 0 auto 40px;
            max-width: 900px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 50px;
            max-width: 1280px;
        }
    }

    &__first-image,
    &__second-image,
    &__third-image,
    &__fourth-image,
    &__fifth-image,
    &__sixth-image {
        border-radius: 10px;
    }

    &__first-image {
        width: 45%;
        min-height: 220px;

        @media screen and (min-width: $bp-mobile) {
            min-height: 300px;
            width: 40%;
        }

        @media screen and (min-width: $bp-tablet) {
            min-height: 420px;
        }

        @media screen and (min-width: $bp-desktop) {
            min-height: 580px;
            width: 35%;
        }
    }

    &__first-text {
        margin-bottom: 60px;
        text-align: left;

        @media screen and (min-width: $bp-mobile) {
            font-size: 18px;
            line-height: 1;
            margin-bottom: 114px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 24px;
            max-width: 480px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 30px;
            max-width: 620px;
        }
    }

    &__second-image {
        width: 85%;
        margin-left: auto;
        max-height: 114px;

        @media screen and (min-width: $bp-mobile) {
            max-height: 146px;
            max-width: 200px;
        }

        @media screen and (min-width: $bp-tablet) {
            max-height: 196px;
            max-width: 240px;
            margin-right: 40px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-right: 140px;
            max-width: 280px;
            width: 280px;
            max-height: 240px;
        }
    }

    &__third-image {
        position: absolute;
        z-index: 2;
        width: 156px;
        height: 80px;
        top: 32%;
        left: 25%;

        @media screen and (min-width: $bp-mobile) {
            width: 180px;
            height: 110px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            width: 230px;
            height: 180px;
            top: 44%;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 280px;
            height: 240px;
            top: 36%;
        }
    }

    &__second-text {
        text-align: center;
        margin-bottom: 20px;

        @media screen and (min-width: $bp-mobile) {
            font-size: 18px;
            line-height: 1;
            margin-bottom: 30px;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 24px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 30px;
            margin-bottom: 50px;
        }
    }

    &__fourth-image {
        width: 100%;
        max-height: 126px;
        margin-bottom: 20px;

        @media screen and (min-width: $bp-mobile) {
            max-height: 212px;
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            max-height: 298px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: $bp-desktop) {
            min-height: 384px;
            margin-bottom: 50px;
        }
    }

    &__third-container {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: $bp-mobile) {
            max-width: 600px;
            margin: 0 auto;
        }

        @media screen and (min-width: $bp-tablet) {
            max-width: 900px;
        }

        @media screen and (min-width: $bp-desktop) {
            max-width: 1280px;
        }
    }

    &__fifth-image {
        max-height: 186px;

        @media screen and (min-width: $bp-mobile) {
            max-height: 280px;
            min-width: 220px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            max-height: 400px;
            min-width: 360px;
        }

        @media screen and (min-width: $bp-desktop) {
            min-width: 610px;
            min-height: 440px;
        }
    }

    &__sixth-image {
        position: absolute;
        z-index: 2;
        width: 126px;
        height: 70px;
        top: 58%;
        right: 20%;

        @media screen and (min-width: $bp-mobile) {
            width: 160px;
            height: 100px;
        }

        @media screen and (min-width: $bp-tablet) {
            width: 220px;
            height: 160px;
            top: 50%;
            right: 24%;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 300px;
            height: 200px;
            top: 26%;
            right: 30%;
        }
    }

    &__third-text {
        z-index: 3;

        @media screen and (min-width: $bp-mobile) {
            font-size: 18px;
            line-height: 1;
            max-width: 320px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 24px;
            max-width: 460px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 30px;
            max-width: 580px;
        }
    }
}
