.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px;
    width: 100%;
    z-index: 10;

    @media screen and (min-width: $bp-tablet) {
        top: 25px;
        padding: 0;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        position: absolute;
        top: 25%;
        left: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 3px;
        background: transparent;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        color: var(--color-white);
        font-family: "Anglecia Pro Display", sans-serif;
        cursor: pointer;
        font-weight: 400;
        transition: color 0.8s ease;

        @media screen and (min-width: $bp-mobile) {
            gap: 4px;
            font-size: 16px;
        }

        @media screen and (min-width: $bp-tablet) {
            right: 160px;
            left: auto;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 20px;
            right: 210px;
            gap: 5px;
        }

        &.black {
            color: var(--color-black);
        }

        &:hover {
            color: var(--color-biege);
        }

        &.hover-white:hover {
            color: var(--color-white);
        }
    }

    &__button__icon {
        transition: transform 0.3s ease;
    }

    &__button__icon.up {
        transform: rotateX(180deg);
    }

    &__logo {
        font-size: clamp(20px, 3.8vw, 50px);
        font-family: "Monsieur La Doulaise", sans-serif;
        color: var(--color-white);
        transition: color 0.8s ease;
        line-height: 1;

        &.black {
            color: var(--color-black);
        }
    }

    &__button-book {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            position: absolute;
            right: 0;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            background: transparent;
            border: 1px solid var(--color-white);
            padding: 10px 18px;
            cursor: pointer;
            font-family: "Anglecia Pro Display", sans-serif;
            font-weight: 400;
            color: var(--color-white);
            border-radius: 10px;
            transition: color 0.8s ease, border 0.8s ease, background 0.8s ease-in-out;
        }

        @media screen and (min-width: $bp-desktop) {
            padding: 16px 24px;
            font-size: 24px;
        }

        &.black {
            color: var(--color-black);
            border: 1px solid var(--color-black);
        }

        &:hover {
            background: var(--color-biege);
        }

        &.hover-white:hover {
            background: var(--color-white);
        }
    }
}

