.menu-section {
    padding: 80px 0px 36px;
    background-color: var(--color-black);
    color: var(--color-white);

    @media screen and (min-width: $bp-mobile) {
        padding: 100px 0px 40px;
    }

    @media screen and (min-width: $bp-tablet) {
        padding: 140px 0px 50px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 180px 0px 60px;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.1;

        @media screen and (min-width: $bp-mobile) {
            font-size: 56px;
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 70px;
            margin-bottom: 40px;
        }
    
        @media screen and (min-width: $bp-desktop) {
            font-size: 100px;
            margin-bottom: 50px;
        }
    }

    &__all-container {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    &__mini-title-nav {
        text-decoration: none;
        color: var(--color-white);

        & h3 {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            @media screen and (min-width: $bp-mobile) {
                font-size: 24px;
                line-height: 1;
            }
        
            @media screen and (min-width: $bp-tablet) {
                font-size: 30px;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 60px;
            }

            &.limited {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &:hover {
                color: var(--color-biege);
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--color-white);
        padding-bottom: 8px;
        margin-bottom: 8px;
        width: 100%;
        max-width: 360px;

        @media screen and (min-width: $bp-mobile) {
            padding-bottom: 14px;
            margin-bottom: 14px;
            max-width: 540px;
        }
    
        @media screen and (min-width: $bp-tablet) {
            padding-bottom: 20px;
            margin-bottom: 20px;
            max-width: 960px;
        }

        @media screen and (min-width: $bp-desktop) {
            padding-bottom: 25px;
            margin-bottom: 25px;
            max-width: 1280px;
        }
    }
}

