*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: 14px;
    font-family: "Anglecia Pro Display", sans-serif;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}
