@import './base';
@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';

@import './layouts/container';
@import './layouts/header';
@import './layouts/home-page';
@import './layouts/about-page';
@import './layouts/menu-page';
@import './layouts/menu-item-page';
@import './layouts/contact-page';

@import './components/header-menu';
@import './components/header-call-menu';
@import './components/modal';
@import './components/booking-form';
@import './components/slider';
@import './components/hero-slider';